body{
    margin: 0; /*убрали все внешние отсупы которые были по умолчанию от браузера*/
    padding: 0; /*убрали внутренние отсупы по умолчанию*/
}
.main{
  height: 100%;  /*блок во всю ширину*/
  background-color: #0B1D26;
  color: #fff;
}
.preview{
    /*position: relative;*/
    height: 100vh;
    width: 100vh;
}
.previewLayer{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.previewImage{
    background-image: url(images/VG.png);
    background-size: cover;
    z-index: 1;
}
.header{
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 64px 80px;
    height: 25px;
    align-items: center; /*выравнивание по горизонтали*/
}
.nav{
    display: flex; /*по горизонтали*/

}
.navItem{
    cursor: pointer; /*меняется курсор при наведении */
}
.navItem:not(:last-child){
    margin-right: 40px;
}
.accountWrapper{
    display: flex;
    align-items: center;
}

.accountTitle{
    padding-left: 10px;
}
.titleWrapper{
    z-index: 3;
    top: 25%;
    left: 20%;
}
.lineText{
    font-size: 18px;
    color: #FBD784;
    text-transform: uppercase;
}
.line{
    width: 72px;
    height: 2px;
    background-color: #FBD784;
    margin-right: 32px;
}
.title{
    display: flex;
    align-items: center;
}
.titleDescription{
    font-size: 88px;
    font-weight: 600;  
    padding-top: 32px;
}
.paddingLine{
    color: #0B1D26;
}
.content{
    padding: 100px 150px;
}
.section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 100px;
    align-items: center;
}
.sectionInfo{
    position: relative;
    max-width: 632px;
}
.count{
    position: absolute;
    font-size: 240px;
    font-weight: 700;
    opacity: 0.1;
    top: -120px;
    left: -110px;
}
.sectionHeader{
    display: flex;
    align-items: center;
}
.sectionTitle{
    color: #FBD784;
    font-size: 18px;
    padding-left: 24px;
    text-transform: uppercase;
}
.infoTitle{
    font-size: 64px;
    padding-top: 27px;
    font-weight: 600;
}
.sectionText{
    font-size: 18px;
    font-weight: 700;
    padding-top: 27px;
}
.sectionImage{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;    
}