body{
    margin: 0; /*убрали все внешние отсупы которые были по умолчанию от браузера*/
    padding: 0; /*убрали внутренние отсупы по умолчанию*/
}
.main{
  height: 100vh;  /*блок во всб ширину*/
  background-color: #0B1D26;
  color: #fff;
}